#MainPages {
    display: flex;
    width: 646px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.MainPages-child {
    text-align: center;
    line-height: 34px;
    width: 161px;
    height: 37px;
    color: black;
    border-radius: 4px;
    background-color: #f8f4f4;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.make-active {
    background-color: rgb(78, 78, 218);
    color: #fff;
}

